.item {
  position: relative;

  &:hover,
  &:focus {
    & .itemAddToCartBtn,
    & .itemAddToFavBtn,
    & .favorite {
      transform: translateX(0);
    }
  }
}

.itemImg {
  position: relative;
  overflow: hidden;
  width: 100%;

  & > img {
    width: 100%;
  }
}

.itemAddToCartBtn {
  position: absolute;
  bottom: 10px;
  right: 20px;

  transition: transform 250ms ease-in, background-color 250ms ease-in,
    color 250ms linear;
}

.itemAddToFavBtn,
.favorite {
  position: absolute;
  bottom: 55px;
  right: 20px;

  transition: transform 250ms linear, background-color 250ms linear,
    color 250ms linear;
}

.favorite,
.itemAddToCartBtn,
.itemAddToFavBtn {
  border: none;
  border-radius: 50%;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #555555;

  transform: translateX(200%);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #7ac751;
    color: #fff;
  }
}

.favorite {
  background-color: #ccccccaa;
  .icon {
    fill: #ffff00;
    transition: fill 250ms linear;
  }
}

.textWrapper {
  padding: 10px;
}

.itemTitle {
  font-size: 20px;
  color: #555555;
}

.itemPrice {
  font-size: 18px;
  color: #7ac751;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 4px;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: white;
  color: #555555;

  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
  fill: green;

  &:hover,
  &:focus {
    background-color: #7ac751;
    color: white;
    transform: scale(1.1);
  }
}
