.pageHeader {
  background-color: #e5e5e5;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  padding-right: 20px;
  padding-left: 20px;
  height: 40px;
  color: #555555;
  background-color: #e5e5e5;
}

.greetings {
  height: 25px;

  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #fff;
  background-color: #7ac751;

  & p {
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    max-width: 1170px;
  }
}
