.label {
  position: relative;
  margin-bottom: 4px;
  text-align: left;
}

.input {
  margin-bottom: 20px;
  border: 2px solid #55555555;
  padding: 4px;
  outline: none;
  font-size: 16px;
  transition: border linear 250ms;

  &:hover,
  &:focus {
    border: 2px solid #7ac751;
  }
}

.error {
  position: absolute;
  bottom: -48px;
  color: red;
  font-size: 12px;
}
