.form {
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  border: 2px solid #55555555;
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;

  font-size: 14px;
}

.button {
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 96px;
  height: 40px;
  background-color: #55555544;
  color: #555555;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

  transition: background-color 250msc linear, color 250msc linear,
    box-shadow 250msc linear;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #7ac751;
    color: #fff;
    box-shadow: 0px 15px 20px #7ac75155;
  }

  &:disabled {
    color: #55555555;
    &:hover,
    &:focus {
      cursor: default;
      background-color: #55555544;
      color: #55555555;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    }
  }
}
